#intro {
  
  color: #66CCCC;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 0.05em;
 
  border: 2px solid #2949a8;
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

/* Hover effect */
#intro:hover {
  color: white;
  background-color: #2949a8c1;
}
body{
    background-image: url(image/backgroundspace.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
  #description {
    color:#9da5bd;
    font-family: "Playwrite NZ", cursive;
    font-weight: 500;
    background-color:rgba(225,225,225,0.1);
    padding: 20px; 
    border: 2px solid rgba(225,225,225,0.3); 
    border-radius: 10px; 
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
   
    line-height: 1.5; 
  }


  #ques1 {
    font-family: "Ubuntu", sans-serif;
    text-decoration: underline 2px; 
    color: #f0f0f0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
    font-weight: bold; 
    padding-bottom: 5px; /
  }

  
  table {
    
    border-collapse: collapse;
    width: 50%; /* adjust the width to your liking */
    margin: 40px auto; /* center the table */
    border: 1px solid #ddd;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color:  #9da5bd;
;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  tr{
    background-color: #f9f9f9;
  }


  #des2 {
    
    font-size: 36px;
    font-weight: bold;
      color: #f0f0f0;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
    position: relative;
  }
  
  #des2::after {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background-color: #337ab7;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
  }

  pre {
    color:#ccc;
    background-color: #000000;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: auto;
  }

  
  li {
    color: #f0f0f0;
    list-style: none;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    background-color:rgba(225,225,225,0.1);
    border-radius: 10px;
    border: 2px solid rgba(225,225,225,0.3); 
    
  }

  li:last-child {
    border-bottom: none;
  }

  ul {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
  }

  ul:before {
    content: "›";
    font-size: 20px;
    color: #00698f;
    margin-right: 20px;
  }

 

  #next-page-btn {
    background-color:#9da5bd;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
  bottom: 20px;
  right: 20px;
    
  }
  
  #next-page-btn:hover {
    background-color: #2949a8;
  }
  
  #next-page-btn:active {
    background-color: #3e8e41;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

